html {
  scroll-behavior: smooth;
}

.first a {
  margin: 10px !important;
}

.intro {
  line-height: 2.3em;
  padding: 5px;
  width: 70%;
  text-align: justify;
  text-justify: inter-word;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  width: 120px;
  background-color: white;
  margin: 10px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  float: left;
}

.image-wrapper {
  width: 110px;
  height: 90px;
  text-align: center;
  padding: 5px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.skill-title-wrapper {
  padding: 5px;
  height: 100px;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: -webkit-center;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}

.social-svg-mask {
  fill: #99d2ff !important;
}

.socialIcon {
  margin-top: 40px !important;
}

.profile {
  width: 150px;
  border-radius: 50%;
}

.right {
  float: right !important;
}

.navbar {
  overflow: hidden;
  background-color: #adb3c544;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.wizard {
  width: 25px;
  float: left;
}

.caption {
  float: left;
  clear: both;
  font-size: 10px !important;
  color: white;
}

.box {
  float: left;
  clear: both;
  padding-left: 15px;
  cursor: pointer;
}
